<%- include ("../partials/header") %>


<div class="container">
   <header class="jumbotron">
   <div class="container">
   <h1>Welcome to HangOut!</h1>
	<p>View our hand-picked restaurants from all over Bangalore</p>
    <p>
     <a class="btn btn-primary btn-lg" href="/restaurants/new">Add new Restaurant</a>
   </p>
		 <form action="/restaurants" method="GET" class="form-inline">
			   <div class="form-group">
				   <input type="text" name="search" placeholder="Restaurant search..." class="form-control">
				   <input type="submit" value="Search" class="btn btn-default">
			   </div>
	   </form>  
		 
	  
</div>
</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		         <div class="col-md-12">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
          			
            	<form action="/restaurants" method="GET" class="form-inline">
            		<div class="form-group">
            			<input type="text" name="search" placeholder="Restaurant search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
             <% } %>
         </div>
		<% restaurants.forEach(function(restaurant){ %>
<div class="col-md-3 col-sm-6">
	<div class="thumbnail">
		<img src="<%= restaurant.image %>">
	<div class="caption">
		<h4><%= restaurant.name %></h4>
		</div>
		<a href="/restaurants/<%= restaurant._id %>" class="btn btn-primary">More info</a>
	</div>
</div>	
<% }); %>
	</div>
</div>
	
<%- include("../partials/footer") %>